* {
  box-sizing: border-box;
  margin: 0;
}

img,
video {
  display: block;
  width: 100%;
  height: auto;
}

body {
  background-image: url(img/blank_vand.webp);
  background-size: cover;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

#middle {
  background-color: whitesmoke;
  /* background-image: url(img/udspring.jpg); */
  background-size: cover;
  padding: 20px;
  margin: 40px;
  border: 5px solid black;
  max-width: 800px;
  grid-column: 2 / 3;
}

header {
  position: sticky;
  z-index: 100;
  top: 0;
  padding: 1rem 1.5rem;
  box-shadow: 5px 2px 5px 0px rgba(11, 47, 106, 0.07);
  grid-gap: 20px;
  background-image: url(img//blank_vand.webp);
  background-size: cover;
}

nav {
  overflow-x: auto;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

a {
  font-family: "Roboto", serif;
  text-decoration: none;
  font-weight: 700;
  color: #071c20;
}

a:hover {
  color: #067ded;
}

h1 {
  display: grid;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-family: "Roboto";
  font-size: 1.7em;
  text-align: center;
}

h2 {
  display: grid;
  justify-content: center;
  color: rgb(255, 0, 0);
  font-family: "Staatliches", sans-serif;
  font-size: 8em;
  text-align: center;
}

h3 {
  display: grid;
  justify-content: center;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  padding: 20px;
  text-align: center;
}

#movie {
  display: grid;
  justify-content: center;
  border: 10px solid black;
}

.iframe_wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: calc(100% / (16 / 9));
}

iframe {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}

#intro {
  font-family: "Staatliches", sans-serif;
  color: rgb(255, 0, 0);
}

#thin {
  font-weight: 100;
}

#border {
  padding: 6px;
}
